<h1>홈페이지</h1>
<p>서버 연결 성공 🎉</p>
<!-- 로그인 페이지 이동-->
<% if (userId) { %>
  <form action="/auth/logout" method="POST">
    <button type="submit">로그아웃</button>
  </form>
<% } %>
<!-- 로그아웃 -->
 <% if (!userId) { %>
  <a href="/auth/login">로그인</a>
  <a href="/auth/signup">회원가입</a>
<% } %>
<!-- 글 목록 페이지로 이동-->
<a href="/posts">목록보기</a>